@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:wght@400;600&display=swap');
/* font-family: 'IBM Plex Mono', monospace; */

* {
    box-sizing: border-box;
    font-family: 'IBM Plex Mono', monospace;
}

#main {
    display: grid;
    justify-items: center;
    align-items: center;
    margin: 44px auto 0 auto;
    width: 500px;
}

#header {
    height: 52px;
    font-weight: 600;
    font-size: 40px;
    letter-spacing: -0.08em;
    color: #4520AB;
}

#addTextBlock {
    display: flex;
    align-items: center;
    height: 56px;
    width: 100%;
    overflow: hidden;
    margin-top: 86px;
    border: 2px solid #111111;
    border-radius: 14px;
}

input {
    flex-grow: 1;
    min-width: 0;
    margin-left: 21px;
    margin-right: 10px;
    border: none;
    font-size: 18px;
    letter-spacing: -0.05em;
}

#addTextButton {
    height: 38px;
    width: 107px;
    margin-right: 9px;
    border: none;
    border-radius: 8px;
    padding: 0px 12px 5px;
    background-color: #111111;
    font-weight: 400;
    font-size: 18px;
    color: white;
}

#dictionary {
    display: grid;
    grid-template-columns: repeat(auto-fill, 50%);
    width: 100%;
    margin-top: 60px;
    border-radius: 8px;
    outline: 1px solid white;
    outline-offset: -1px;
    overflow: hidden;
    background-color: #F0F0F0;
}

.container {
    display: flex;
    height: 40px;
    border-bottom: 1px solid #111111;
}

.container.ru {
    border-right: 1px solid black;
}

.container.tr {
    border-left: 1px solid black;
    background-color: rgba(0, 0, 0, 0.3);
}

.numOfRow {
    display: flex;
    align-items: center;
    height: 100%;
    margin-left: 12px;
    font-weight: 600;
    font-size: 14px;
}

.numOfRow.tr {
    display: none;
}

.word {
    display: flex;
    flex-grow: 1;
    align-items: center;
    padding-left: 28px;
    font-size: 18px;
    letter-spacing: -0.03em;
}

.deleteButton {
    display: flex;
    align-items: center;
    width: 17px;
    margin-right: 11px;
    object-fit: contain;
}

.deleteButton.ru {
    display: none;
}

#deleteAllBlock {
    position: relative;
    margin-top: 60px;
}

#deleteAllButtonImg {
    position: absolute;
    top: 6px;
    left: 10px;
    width: 24px;
    object-fit: contain;
}

#deleteAllButton {
    height: 38px;
    width: 176px;
    border: none;
    border-radius: 8px;
    background: #ADADAD;
    font-size: 18px;
    letter-spacing: -0.05em;
    color: #0F0F0F;
}

.popUp{
    display: none;
    position: fixed;
    max-width: 250px;
    word-wrap: break-word;
    border: 1px solid black;
    border-radius: 10px;
    padding: 8px 10px 16px;
    background-color: #FFFFFF;
    font-size: 16px;
}

@media screen and (max-width:768px){
    #main {
        width: 328px;
    }

    #header {
        font-size: 36px;
        letter-spacing: -0.07em;
    }

    input {
        font-size: 15px;
    }

    #addTextBlock {
        margin-top: 38px;
    }

    #dictionary {
        grid-template-columns: repeat(auto-fill, 100%);
        margin-top: 32px;
    }

    .container.tr {
        order: 1
    }

    .numOfRow.tr {
        display: flex;
    }

    .deleteButton.ru {
        display: flex;
    }

    #deleteAllBlock {
        margin-top: 15px;
    }
}
